<h1>Welcome to the Game Center!</h1>

<p>Choose a game below to get started:</p>

<br/>

<table>
  <tr>
    <td>
      <%=link_to root_path %>
      <h4>SECRET NUMBER</h4>
    </td>
    <td>
      <%=link_to root_path %>
      <h4>ROCK PAPER SCISSORS</h4>
    </td>
  </tr>
</table>
