<h1>Welcome to Secret Number!</h1>

<p>To play this game, all you have to do is guess a number. If you guess the <u>secret number</u>, you win!</p>

<p>Choose carefully... you only get one try!</p>

<br/>

<h2>Pick a number:<h2>

<% (1..5).each do |number| %>
  <%= link_to image_tag("secret_numbers/#{number}.jpeg"), secret_number_path(number) %>
<% end %>
