<h1>All the Museums!</h1>


<% @museums.each do |museum| %>
  <section>  	
    <h3>Name: <%= link_to museum.name, museum %></h3>
    <p>City: <%= museum.city%></p>
    
    <hr>
  </section>
<% end %>