<h1>Magic 8 Ball!</h1>
<p>To play magic 8 ball go to http://localhost:3000/games/magic_8_ball/My Question!</p>
The game will give your fortune!

# Bonus.
# <%= form_for :question, method: 'get' do |f| %>
#   <%= f.label "question" %>
#   <%= f.text_field :question %>
#   <%= f.submit %>
# <% end %>