<h1>Rock Paper Scissors</h1>
Rock-paper-scissors is a hand game usually played by two people, where players simultaneously form one of three shapes with an outstretched hand. The "rock" beats scissors, the "scissors" beat paper and the "paper" beats rock; if both players throw the same shape, the game is tied. Other names for the game in the English-speaking world include roshambo, and other orderings of the three items.
The game is often used as a choosing method in a way similar to coin flipping, drawing straws, or throwing dice. Unlike truly random selection methods, however, rock-paper-scissors can be played with a degree of skill by recognizing and exploiting non-random behavior in opponents.

Click a link to play the game

<p><%= link_to "Throw Rock", rps_play_path('rock') %></p>
<p><%= link_to "Throw Paper", rps_play_path('paper') %></p>
<p><%= link_to "Throw Scissors",   rps_play_path('scissors') %></p>