<li>
  <h3><%= link_to story.title, story.link %></h3>
  <p>
    <b>Upvotes</b>: <%= story.upvotes %> ||
    <b>Category</b>: <%= story.category %> ||
    <b><%= link_to "Comments", story %></b>
  </p>
</li>
