<section class="hero-unit">
  <h1>Your place for finding stuff you want, and dumping stuff you don't</h1>

  <div class='action-buttons'>
    <%= link_to "Create a new classified!", new_classified_path, class: 'btn btn-success btn-large' %>
    <%= link_to "See our current classifieds", classifieds_path, class: 'btn btn-primary btn-large' %>
  </div>
</section>
