<h1><%= @url.hash_code%> is your code for <%= @url.link %></h1>

<p>You can direct users to this Ritly URL: <%= link_to @full_path %></p>

<p>The Ritly URL will redirect them to: <%= link_to @url.link, @url.link %></p>

