<% @shirts.each do |shirt| %>
  <section>
    <h3><%= link_to shirt.name, shirt %></h3>
    <p>
      <%= shirt.description %>
    </p>
    <p>
      <%= image_tag shirt.image %>
    </p>
  </section>
<% end %>
