<h1>Listings under <%= @category.name %></h1>

<br/>

<section class="well">
  <ul class="unstyled">
    <% @category.classifieds.each do |classified| %>
      <li><%= link_to "#{truncate(classified.title)} - #{number_to_currency classified.price}", classified %></li>
    <% end %>
  </ul>
</section>
